<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <h3 class="mt-2">Deadspin Discussion Board</h3>
    <form class="form-inline">
        <input class="form-control mt-2 ml-sm-2" type="text" placeholder="Find Articles By Date">
        <button class="btn btn-success mt-2 ml-sm-2" type="submit">Search</button>
    </form>
        <button id="re-scrape" type="button" class="btn btn-danger mt-2 ml-sm-2" style="display:none">Re-Scrape</button>
</nav>
<div class="row">
    <h1 class="col-12 text-center">Deadspin Discussion Board</h1>
</div>
<div class="row">
    <h4 class="col-12 text-center">Current (Scraped) Homepage Articles:</h4>
</div>
<div class="row">
    <div class="col-1 col-md-2"></div>
    <div class="col-10 col-md-8">
        <ul id="article-list" class="list-group">
        </ul>
    </div>
</div>