<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <h3>Deadspin Discussion Board</h3>
    <form class="form-inline">
        <input class="form-control ml-sm-2" type="text" placeholder="Find Articles By Date">
        <button class="btn btn-success ml-sm-2" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#"><button id="re-scrape" type="button" class="btn btn-danger">Scrape Again</button></a>
        </li>
    </ul>
</nav>
<div class="row">
    <h1 class="col-12 text-center">Deadspin Discussion Board</h1>
</div>
<div class="row">
    <h4 class="col-12 text-center">Current (Scraped) Homepage Articles:</h4>
</div>
<div class="row">
    <div class="col-1 col-md-2"></div>
    <div class="col-10 col-md-8">
        <ul id="article-list" class="list-group">
            {{#each articles}}
                <li class="list-group-item text-center">
                    <h6><a href={{link}} class="text-center">{{title}}</a></h6>
                    {{#if summary}}
                        <p class="text-center">{{summary}}</p>
                    {{/if}}
                    <button type="button" class="btn btn-outline-danger commentButton" data-link={{link}}>Comment</button>
                </li>
            {{/each}}
            {{#unless articles}}
                <li class="list-group-item text-center">Unable to display articles.</li>
            {{/unless}}
        </ul>
    </div>
</div>